.curseclient


.vscode/
backups/
downloads/
journeymap/
local/
logs/
mods/
resourcepacks/
saves/
schematics/
screenshots/
/patchouli_books
crash-reports/


minecraftinstance.json
options.txt
patchouli_data.json
reauth.toml
rhino.local.properties
usercache.json
usernamecache.json